.button {
  background-color: #4d5791; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
